/*generic classes*/

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-attachment: scroll;
    padding: 10% 2%;
    text-align: center;
    height: 100vh;
}

.header h1 {
    /* font-weight: bold;
    font-weight: 900;*/
    font-size: 6vw;
}


/*styles one-column*/

.one-column {
    padding: 3% 13%;
    float: left;
    width: 100%;
}

.one-column h1 {
    font-size: 12vh;
    text-align: center;
}


/*Style the two-column*/

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}

.two-column img {
    width: 100%;
}

.two-column h1 {
    font-size: 6vw;
}

.two-column p {
    font-size: 3vw;
}


/*Styles four-column*/

.four-column {
    padding: 20px;
    float: left;
    width: 25%;
    text-align: center;
}

.four-column img {
    width: 100%;
}

.four-column h2 {
    font-size: 3vh;
}

.withoutpadding {
    padding: 0px;
    margin-bottom: -5px;
}

#greenfondo {
    background-color: #28ECA5;
}

#bluefondo {
    background-color: #46A6FC;
}


/*Estilos ID's footer*/

#blackfondo {
    background-color: black;
    color: white;
}

#blackfondo h1,
#blackfondo h2 {
    font-size: 20px;
}

#blackfondo h1 {
    padding: 3%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout*/

@media screen and (max-width:700px) {
    /* Responsive layout */
    .two-column,
    .three-column {
        width: 100%;
    }
    .one-column {
        padding: 15% 10%;
    }
    .one-column h1 {
        font-size: 6.5vw;
    }
    .two-column h1 {
        font-size: 8vw;
    }
    .two-column p {
        font-size: 4vh;
    }
    .four-column {
        width: 50%;
    }
    .four-column h2 {
        font-size: 4vh;
    }
    .header {
        background-image: url('../img/banner-3.jpg');
        background-size: cover;
    }
    .header h1 {
        font-size: 14vh;
    }
    #blackfondo {
        padding: 4% 3%;
    }
}